@media screen and (min-width:800px) {

.header {
    background-color: gray;
    height: 100px;
    width: 100%;
    
}

.aside {
    background-color: lightblue;
    float: left;
    height: 600px;
    width: 20%;
}


.left-card,
.right-card {
    background-color: lightpink;
    float: left;
    height: 200px;
    width: 40%;
}

.card-one,
.card-two,
.card-three,
.card-four {
    background-color: lightgoldenrodyellow;
    float: left;
    height: 250px;
    width: 20%;
}

.card {
    background-color: lightgreen;
    float: left;
    height: 150px;
    width: 80%;

}